.header{
    position: relative;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: #D93F3F;
}

.header__img{
    max-width: 350px;
    margin-left: 15px;
}

.header__black{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #000;
}

.header__circle{
    position: absolute;
    width: 70px;
    aspect-ratio: 1;
    background-color: #FFF;
    border: 9px solid #000;
    border-radius: 50%;
    bottom: 0px;
    right: 10px;
    transform: translateX(-50%);
}

.header__circle-int{
    position: absolute;
    width: 35px;
    aspect-ratio: 1;
    border: 6px solid #000;
    background-color: rgb(45, 45, 45);
    border-radius: 50%;
    bottom: 7.75px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logout{
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 150ms;
    transition-property: all;
}

.header__logout:hover{
    color: #D93F3F;
}