.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 240px);
}

.home__img{
    padding: 10px;
    max-width: 450px;
}

.home__subtitle{
    color: #FE1936;
    font-size: 32px;
    font-weight: 600;
}

.home__txt{
    font-size: 28px;
}